<template name="header">
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">{{{ brand }}}</h3>
            <ul class="nav masthead-nav">
                <li class="active"><a href="{{pathFor 'home'}}">{{home}}</a></li>
                <li><a href="{{pathFor 'description'}}">{{description}}</a></li>
                <li><a href="{{pathFor 'simulation'}}">{{simulation}}</a></li>
                <li><a href="{{pathFor 'about'}}">{{about}}</a></li>
            </ul>
        </div>
    </div>
</template>